*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}

.container{
    width: 90%;
    margin: 0em auto;
    padding: 50px;
    
}

/* 
*************************
       HEADER
************************* */

header{
  
  padding: 1em 0;

}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
    
}

.list{
    
    display: flex;

}
.list-item{
    list-style-type: none;
    margin-right: 30px;
}

.list-item a{
    text-decoration: none;
    color: black;
}
    

   /* 
*************************
       HERO SECTION
************************* */ 
.hero-section{
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    padding: 15em 0;
    
}

.hero-items{
   
    margin-right: 3em;
   
}

.hero-items h1{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 1rem;
}

.hero-items > h1 + p{
    color: white;
}

.btn{
    background-color: black;
    color: #fff;
    display: inline-block;
    padding: .2em 1em;
    cursor: pointer;
}

/* 
*************************
       VISIT SECTION
************************* */

.visit-section{
   
    margin-top: -17.5em;
}

.visit-section-items{
    background-color: #000;
    color: #fff;
    width:25%;
    padding: 1.5em;
   
}

.btn-2{
    background-color: #fff;
    color: #000;
}

/* 
*************************
       SERVICES SECTION
************************* */



.services-section-item{
    
    display: flex;
    justify-content: space-around;
}

.services-section-item div{
   
    text-align: center;
    margin: 1em;
}


/* 
*************************
       MOMENTUM SECTION
************************* */

.momentum-section{
    padding: 2em;
    background-color: gray;
}


.momentum-section-item{
    display: flex;
    justify-content: space-around;
    
}

.momentum-section-item div{
    margin: 1em;
    padding: 2em;
}

.momentum-section-item div + div{
    background-image: url('../images/Home3-Video.jpg');
    width: 50%;
    text-align: center;
}


/* 
*************************
       STYLERS SECTION
************************* */

.stylers-pic{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.stylers-pic div{
    margin: 1em;
    text-align: center;                 
   
}

.stylers-pic .btn{
    margin-top: -2em;
}

/* 
*************************
       offfer SECTION
************************* */


.offer-section{
    background-image: url('../images/Promo-Banner-Image.jpg');
}

.offer-section div{
  
    padding: 5em;
}

.offer-section span{
    font-weight: bolder;
    font-size: 2em;
}


/* 
*************************
       offfer SECTION
************************* */

.lookbook{
    text-align: center;
    padding: 1.5em;
}



.gallery-container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 10px;
  }



.left, .middle, .right {
    width: 33%;
  }
  
  .one, .four, .five {
    height: 400px;
  }
  
  .two, .three, .six {
    height: 600px;
  }


.one {
    background-image: url("../images/Gallery-01-150x150.jpg");
    background-size: cover;
    margin-bottom: 10px;
  }
  
  .two {
    background-image: url("../images/Gallery-02-150x150.jpg");
    background-size: cover;
  }
  
  .three {
    background-image: url("../images/Gallery-03-150x150.jpg");
    background-size: cover;
    margin-bottom: 10px;
  }
  
  .four {
    background-image: url("../images/Gallery-04-150x150.jpg");
    background-size: cover;
  }
  
  .five {
    background-image: url("../images/Gallery-05-150x150.jpg");
    background-size: cover;
    margin-bottom: 10px;
  }
  
  .six {
    background-image: url("../images/Gallery-06-150x150.jpg");
    background-size: cover;
  }